*.zip
venv/
*.pyc
*.d2v
*.npy
word2vec
*.meta
*.index
*.bin 
*.vec
*.log
*.pickle
bert_config.json

model_run/pre_trained_models/*
model_run/output_unsupervised_ft
model_run/output_unsupervised
model_run/output_supervised 
model_run/output_goldstandard
model_run/output_candidates
model_run/Topics/*
